.lobby-list {
	border-bottom: 1px solid darkgray;
	flex-basis: 75%;
}

tbody tr.active {
	background-color: lightblue;
}

.action-bar {
	display: flex;
	justify-content: space-between;
}

.action-bar button {
	flex-grow: 0;
}